body {
    background-image: url('../Images/barbe_fondo.png');
    background-repeat: repeat;
    background-size: auto;
}

.barber-border {
    position: relative;
    border-radius: 24px;
    padding: 7px; /* grosor del borde */
    background: repeating-linear-gradient( -45deg, #ffffff 0 14px, #0055a4 14px 28px, #ffffff 28px 42px, #ef2b2d 42px 56px );
    box-shadow: 0 12px 28px rgba(0,0,0,.25);
}

    .barber-border::before {
        content: "";
        position: absolute;
        inset: 10px;
        background: #ffffff;
        border-radius: calc(24px - 10px);
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.08), inset 0 8px 14px rgba(0,0,0,.06);
        z-index: 0;
    }

    .barber-border > * {
        position: relative;
        z-index: 1;
    }